// @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

.post-header::before {
    background-image: url('../imgs/bg/3.svg');
    // background-color: pink;
    width: 200px !important;
    top: 50px !important;
    background-position-x: 46px !important;
    height: 200px !important;
}

#predict-btn {
    background: #2c4281;
    // width: 50%;
    margin-top: 15px;
    border: 0;
    border-radius: 7px;
    color: #f1f1f1;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
}

.prediction-container-wrapper{
    position: relative;
}

.prediction-container-wrapper .prediction-icon {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    // transform: translate(-50%, -50%);
}
.prediction-container-wrapper .prediction-icon svg { 
    transform-origin: center;
    animation: predict 3s infinite;
    animation-play-state: paused;
    display: none;
    animation-fill-mode: forwards;
}

.prediction-container-wrapper .prediction-icon svg.predict {
    display: block;
    animation-play-state: running;
}

@keyframes predict {
    0% {
        transform: rotate(0deg);/// translate(-50%, -50%);
        stroke: #2c3e50;
    }

    50% {
        transform: rotate(180deg);// translate(-50%, -50%);
        stroke: #88154f;

    }
    67%  {
        stroke: #2056bb;

    }
    100% {
        transform: rotate(360deg);/// translate(-50%, -50%);
        stroke: #2c3e50;
    }
}

.prediction-container-wrapper .prediction-icon svg {
    min-height: auto;
}
// {}
#sample-images-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    div img {
        border: 3px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            border-color: rgba(0, 0, 0, 0.9);
        }
    }

    div p {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }
}

#canvas {
    border: 2px solid rgba(34, 67, 100, 0.514);
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 15px 15px -12px rgba(0, 0, 0, 0.1), 0px 15px 21px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
}

label {
    margin-right: 15px;
}

#fig0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // align-items: flex-start;
    // flex-direction: column;
}

#loading-model-text {
    font-size: 12px;
    text-align: left;
}

#loading-model-text.success {
    color: rgb(12, 143, 88);
}

.range-text {
    width: 30px;
    text-align: center;
}

#canvas-container {
    max-width: 100px;
    margin-right: 25px;
    position: sticky;
    top: 25px;
}

.test-method {
    background: rgba(122, 40, 47, 0.075);
    padding: 15px 25px;
    border-radius: 5px;
    width: calc(100% - 175px);
    margin-bottom: 25px;
    overflow: hidden;
}

.tooltip-text {
    font-size: 13px;
    text-align: center;
}

#generate-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#input-text, #font-select {
    margin-right: 10px;
}

#prediction-container {
    min-height: 27px;
    color: rgb(31, 61, 90);
    background: #dfe5eb;//rgba(40, 82, 122, 0.15);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Merriweather Black';
    font-size: 18px;
    // margin-top: 5px;
    text-align: center;
}

#loading-model-text,
#loading-fonts-text,
#loading-fonts-msg {
    min-height: 50px;
    text-align: center;
    transition: opacity .3s ease-in-out;
}

#loading-fonts-msg {
    color: red;
    text-align: center;
    transition: opacity .3s ease-in-out;
    line-height: 20px;
    font-size: 12px;
}

#loading-fonts-text {
    opacity: 0;
}

#loading-fonts-text.error {
    opacity: 1;
}

#retry-loading-fonts {
    background: rgb(204, 34, 34);
    border: 0;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    color: #f1f1f1;
}



#loading-model-text.hidden {
    opacity: 0;
}

@font-face {
    font-family: 'ArefRuqaa';
    src: url('../fonts/ArefRuqaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'WebNastaliq';
    src: url('../fonts/IranNastaliq-Web.woff2') format('woff2'),
        url('../fonts/IranNastaliq-Web.woff') format('woff'),
         url('../fonts/IranNastaliq-Web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'cmr10';
    src: url('../fonts/cmr10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    -webkit-font-smoothing: antialiased;	
}

#fig3-gen-bg-text2,
#fig3-gen-text2 {
    transform-origin: center;
}