.math-table svg {
    // max-height: 10px;
    font-size: 12px;
}

.table-small-numbers tr td,
.table-small-numbers tr td strong {
    font-size: 14px;
    padding-right: 5px;
    // padding-left: 10px;
}

.post-header::before {
    // display: none !important;
    background-image: url('../imgs/bg/5.png');
    // background-color: pink;
    height: 100% !important;
    // top: 0;
    background-position: 85px 15px !important;
}